body {
    text-align: center;
    overflow: hidden;
}

button{
    font-size: 25px;
    color: #0c0;
}

#startingBox{
    display: block;
    position: fixed;
    font-family: Arial;
    font-size: 25px;
    text-align: center;
    background: #0c0;
    border-radius:5px; 
    width:450px;
    z-index: 10;
}

#startingBox > div{ background: #fff; margin: 8px; }
#startingBox > div > #instructions{background: #fff; padding: 20px; color: #0c0; }
#startingBox > div > #startGame{ background: #fff; padding: 10px; text-align: center; }

#dialogoverlay{
    display: block;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    z-index: 10;
}

#dialogbox{
    display: none;
    position: fixed;
    font-family: Arial;
    font-size: 30px;
    background: #0c0;
    border-radius:5px; 
    width:450px;
    z-index: 10;
}

#dialogbox > div{ background: #fff; margin: 8px; }
#dialogbox > div > #dialogboxbody{ background: #fff; padding: 20px; color: #0c0; }
#dialogbox > div > #dialogboxfoot{ background: #fff; padding: 10px; text-align: center; }