body {
    text-align: center;
    overflow: hidden;
}

#startingBox{
	display: block;
	position: fixed;
	font-family: Arial;
	font-size: 30px;
	background: #0C0;
	border-radius:5px; 
	width:450px;
	z-index: 10;
}

#startingBox > div{ background:#FFF; margin:8px; }
#startingBox > div > #instructions{background:#FFF; padding:20px; color:#0C0; }
#startingBox > div > #startGame{ background: #FFF; padding:10px; text-align:center; }

#dialogoverlay{
	display: block;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 10;
}

#dialogbox{
	display: none;
	position: fixed;
	font-family: Arial;
	font-size: 30px;
	background: #0C0;
	border-radius:5px; 
	width:450px;
	z-index: 10;
}

#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxbody{ background:#FFF; padding:20px; color:#0C0; }
#dialogbox > div > #dialogboxfoot{ background: #FFF; padding:10px; text-align:right; }